<form>
  <div class="form-group">
    <label>Attribute</label>
    <input type="text" value="{{attributeDie}}" readonly />
  </div>
  <div class="form-group">
    <label>Skill ({{skillName}})</label>
    <input type="text" value="{{skillDie}}" readonly />
  </div>
  <div class="form-group">
    <label>Focus</label>
    <input type="text" value="{{focusDie}}" readonly />
  </div>
  <div class="form-group">
    <label>Modifier</label>
    <input type="number" name="modifier" value="0" />
  </div>
  <footer class="sheet-footer">
    <button type="button" class="roll-button">Roll</button>
  </footer>
</form>