@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;700&display=swap");

:root {
  --color-text-light-highlight: #fefcf5;
  --color-text-light-heading: #e0decf;
  --color-text-light-primary: #d2d0c2;

  --color-text-dark-primary: #66655e;
  --color-text-dark-secondary: #737269;
  --color-text-dark-header: #706f66;
  --color-text-dark-inactive: #9b9a90;

  --color-text-hyperlink: #ff6400;

  --color-text-selection: #f7f3e8;
  --color-text-selection-bg: #666;

  --color-text-light-0: #ffffff;
  --color-text-light-1: #f8f7f2;
  --color-text-light-2: #ecebe3;
  --color-text-light-3: #dcdacd;
  --color-text-light-4: #cac7b7;
  --color-text-light-5: #b6b3a0;
  --color-text-light-6: #a19f8e;
  --color-text-light-7: #8c8a79;

  --color-text-dark-1: #55544f;
  --color-text-dark-2: #606059;
  --color-text-dark-3: #6b6b63;
  --color-text-dark-4: #76766c;
  --color-text-dark-5: #828177;
  --color-text-dark-6: #8e8c81;

  --color-border-light-1: #d6d4c6;
  --color-border-light-2: #aaa793;

  --color-border-dark-1: #55544f;
  --color-border-dark-2: #616059;
  --color-border-dark-3: #6c6b63;
  --color-border-dark-4: #77766d;
  --color-border-dark-5: #838279;

  --color-shadow-primary: #bf0000;
  --color-shadow-highlight: #ff6400;
  --color-shadow-dark: #000000;

  --color-underline-inactive: #8a897f;
  --color-underline-active: #5e1c1e;
  --color-underline-header: #a03a2c;

  --color-border-light-highlight: #fefcf5;
  --color-border-light-primary: #d2d0c2;
  --color-border-light-secondary: #e0decf;
  --color-border-light-tertiary: #a19f8e;

  --color-border-dark: #000000;
  --color-border-dark-primary: #66655e;
  --color-border-dark-secondary: #706f66;
  --color-border-dark-tertiary: #7c7a71;

  --color-border-highlight: #ff6400;
  --color-border-highlight-alt: #ff2a2a;

  --color-bg-btn-minor-inactive: #dcdacd;
  --color-bg-btn-minor-active: #c2c0b0;

  --color-select-option-bg: #e8e6da;
}

body.game .window-app {
  --color-fieldset-border: var(--color-text-light-2);
  --color-form-label: #8a897f;
  --color-form-label-hover: #77766f;
  --color-form-hint: #9b9a90;
  --color-form-hint-hover: #8a897f;
  --color-select-option-bg: var(--color-text-light-1);
}

.editor-content {
  text-align: left;
}

.custom-system-field-root {
  margin: 0px;
}
.axiom-csb-mod-input {
  display: flex;
  align-items: center;
  gap: 4px;
}
.axiom-csb-mod-input input {
  width: 48px;
  text-align: center;
}
.axiom-csb-mod-input button {
  width: 24px;
  height: 24px;
  font-weight: bold;
  padding: 0;
}
.sheet.journal-entry .journal-entry-content,
.sheet.journal-entry .window-content {
  background: url("/modules/axiom-csb/assets/window-bg.webp") no-repeat center
    center !important;
}
.CodeMirror {
  background: #ffffffcc !important;
}
.custom-system-actor-content {
  padding: 0px !important;
  overflow: unset !important;
  z-index: 100;
}
.content-link {
  background: none !important;
  border: none !important;
}
select option {
  background-color: #111;
}
button {
  color: #eaeaea !important;
  border: 0px solid #eaeaea !important;
  background: none !important;
}
textarea {
  color: #eaeaea !important;
}
.custom-system-actor {
  color: #eaeaea !important;
  font-family: "Rajdhani", sans-serif !important;
  overflow-y: auto;
  overflow-x: hidden;
}
.sheet-header .profile-img-container {
  margin-left: 10px;
  border: none;
  position: relative;
  bottom: 5px;
}
.window-app .window-content {
  background: url("/modules/axiom-csb/assets/window-bg.webp");
  color: #eaeaea !important;
}
.custom-system.actor {
  background: url("/modules/axiom-csb/assets/sheet-bg.webp");
  background-size: cover !important;
  background-attachment: local;
}
.custom-system.actor .window-header {
  background: none !important;
  background-color: transparent !important;
  border-bottom: none !important;
}
.custom-system.actor .window-content {
  background: none !important;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="search"] {
  color: #eaeaea !important;
  font-family: "Rajdhani", sans-serif;
  font-size: 8pt;
  border: 1px solid #444;
}
.custom-system-sheet-actions select {
  color: #eaeaea !important;
}
select {
  color: #eaeaea !important;
}
.custom-system-number-field-control {
  display: inline-block !important;
  opacity: 1 !important;
  visibility: visible !important;
  position: static !important;
  margin: 0 !important;
  transform: none !important;
  transition: none !important;
}

table {
  border-top: 0px;
  border-bottom: 0px;
}

.fa-dice-d8 {
  color: #880000 !important;
}

.custom-system-number-field-control,
.custom-system-number-field-control:hover,
.custom-system-number-field-control:focus {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}
.custom-system-dynamicRow td:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.profile-img {
  background: #00000044;
  border-radius: 10px;
}
.charname input[name="name"] {
  font-weight: 700;
  font-family: "Unica One", sans-serif;
  font-size: 24pt;
  color: #e0d4b8 !important;
  background: #00000044;
  border-radius: 10px;
}
.sheet .custom-system-actor header.sheet-header h1 input {
  border: none;
}
.sheet header.sheet-header h1 input {
  height: 44px;
  margin: 0px 8px 0px 8px !important;
}

.tabs .active {
  text-shadow: none;
}
.sheet nav.sheet-tabs {
  border: none !important;
}

.label-with-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.label-with-buttons .stat-btn {
  min-width: 0px;
  /* Ensures buttons are consistently sized */
  text-align: center;
}
.label-with-buttons span {
  min-width: 70px;
  /* Adjust width to fit the longest label */
  text-align: center;
}

.custom-system-dynamicRow td {
  vertical-align: middle;
}
.custom-system-dynamicRow td div,
.custom-system-dynamicRow td span,
.custom-system-dynamicRow td a,
.custom-system-dynamicRow td i,
.custom-system-dynamicRow td button {
  vertical-align: middle;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

table tr:nth-child(even) {
  background-color: rgba(90, 90, 90, 0.2) !important;
}

/* CHARACTER SHEET */

/**********/
/* Header */
/**********/

.actorTrackersPanel {
  background: #00000044;
  border-radius: 5px;
  padding: 10px;
  min-width: 80%;
}

.actorRessourcePanel {
  background: #00000044;
  border-radius: 5px;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px 0.5em;
  padding: 10px;
  margin: 0px 0px 0px 10px;
}

.actorTrackersPanel.grid.grid-3col {
  display: grid;
  grid-template-columns: 20px 50px 1fr;
  align-items: center;
  gap: 2px 0.5em;
  margin: 0px;
}

[data-name="healthTrack"],
[data-name="stamTrack"],
[data-name="movTrack"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #000; /* outer border for the whole bar */
  border-radius: 3px;
  overflow: hidden;
}

.actorTrackersPanel .lethalDamage,
.actorTrackersPanel .stunDamage,
.actorTrackersPanel .movStat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actorTrackersPanel .lethalDamage input[type="text"],
.actorTrackersPanel .stunDamage input[type="text"] {
  text-align: center;
}

.actorTrackersPanel .damageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
}

.dmgPenalty {
  font-size: 10px;
}

.box {
  width: 25px;
  height: 20px;
  background-color: #444;
  box-sizing: border-box;
  border-right: 1px solid #000;
}

.box.penalty-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
  color: #eee;
}

/* Remove border-right from the last box */
.box:last-child {
  border-right: none;
}

.box.health {
  background-color: #622;
}

.box.health.filled {
  background-color: #a00;
}

.box.stamina {
  background-color: #225;
}

.box.stamina.filled {
  background-color: #0077cc;
}

.box.depleted {
  background-color: #222 !important;
  border-color: #000;
  color: #666;
}

[data-name="bleedoutTrack"] {
  position: relative;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #000;
  border-radius: 3px;
  overflow: hidden;
}

.box.bleedout {
  background-color: #622;
  border-right: 1px solid #000;
  box-sizing: border-box;
  width: 15px;
  height: 10px;
}

.box.bleedout.filled {
  background-color: #662222; /* same as filled health */
}

.box.bleedout.depleted {
  background-color: #222;
}

[data-name="bleedoutTrack"] .box.bleedout:last-child {
  border-right: none;
}

.box.movement {
  width: 15px;
  height: 10px;
  background-color: #333;
  border-right: 1px solid #000;
  box-sizing: border-box;
}

.box.movement.filled {
  background-color: #075;
}

.box.movement.depleted {
  background-color: #111;
}

.box.movement:last-child {
  border-right: none;
}

.actorSubHeader {
  display: grid;
  grid-template-columns: 40px 30px 200px 20px 30px 5px 50px 20px;
  align-items: center;
  gap: 2px 0.5em;
  padding: 10px;
  background: #00000044;
  border-radius: 5px;
  margin-bottom: 0px !important;
}

.actorSubHeader .custom-system-number-field input[type="text"] {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #999;
  background: transparent;
  outline: none;
}

.corruptStat,
.corruptTresh {
  text-align: center !important;
}

/**************/
/* Attributes */
/**************/

.attPanel {
  height: 130px;
  background: url("/modules/axiom-csb/assets/attribute-frame.svg") no-repeat
    center/contain;
  background-color: transparent; /* or keep your fill inside the SVG */
  text-align: center;
  padding: 10px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/* Attribute title text */
.attPanel .custom-system-label-label[data-name$="Title"] {
  font-size: 14px;
  font-weight: bold;
  color: #e0d4b8;
  position: relative;
  line-height: 1.2;
  overflow: visible;
  margin-top: 8px;
}

/* Total attribute value */
.attPanel .attTotal input[type="text"] {
  pointer-events: none;
  background: transparent;
  border: none;
  margin-top: 3px;
  margin-bottom: -8px;
  font-size: 24px;
  font-weight: bold;
  color: #ae0000 !important;
  text-align: center;
}

/* base / aug headers */
.attValues .baseTitle,
.attValues .augTitle {
  font-size: 10px;
  color: #bbbbbb;
}

/* input boxes for base and aug */
.attValues .attBase input[type="text"],
.attValues .attAug input[type="text"] {
  width: 26px;
  height: 26px;
  font-size: 14px;
  background-color: #2a2a2a;
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
}

.attValues {
  margin: 0px 0 !important;
  gap: 5px 28px;
}

.attNatWrap {
  position: relative;
  top: -26px;
  padding-bottom: 10px;
  clip-path: polygon(
    50% -20%,
    /* top-left short flat */ 50% -20%,
    /* top-right short flat */ 100% 50%,
    /* bottom-right slope */ 50% 100%,
    /* center bottom point */ 0% 50% /* bottom-left slope */
  );
  background-color: #111;
  z-index: -1;
}

.natTitle .custom-system-label-label {
  font-size: 10px;
  color: #aaa;
}

.attRange .custom-system-label-label {
  font-size: 11px;
  color: #888;
}

/*********/
/* Stats */
/*********/

.custom-system-component-contents.actorSkills table {
  display: grid;
  grid-template-columns: 140px 1fr 1fr 1fr 1fr 20px;
  border-collapse: separate !important;
}

.actorSkills .custom-system-component-contents[class*="skillTotal"] .custom-system-label-label {
  text-align: center;
}

.actorSkills input[type="number"] {
  height: 20px;
}

.custom-system-component-contents.actorSkills table tbody,
.custom-system-component-contents.actorSkills table tr {
  display: contents; /* Flatten rows into grid */
}

.custom-system-component-contents.actorSkills td {
  padding: 2px;
  display: flex;
  align-items: center;
}

.actorPanel {
	border: 1px solid #000;
	border-radius: 10px;
	background: #00000044;
	padding: 5px;
	margin-bottom: 10px !important;
}

.actorSkills input[type="number"] {
  border: none;
  border-radius: 0px;	
  border-bottom: 1px solid #999;
  background: transparent;	
  outline: none;	
}

.actorAttributeTests.grid, grid-2col {
	margin-top: 0 !important;
  	gap: 0 !important;
	grid-template-columns: 2fr 2fr 1fr 40px;
}

.actorAttributeTests .custom-system-component-contents {
  padding: 4px 4px;
  display: flex;
  align-items: center;
}

.actorAttributeTests .panel-label {
	grid-column: 1 / -1;
}

.actorAttributeTests .custom-system-component-contents:nth-child(4n+2),
.actorAttributeTests .custom-system-component-contents:nth-child(4n+3) {
  justify-content: flex-start;
  text-align: left;
}

.actorExpertise .custom-system-dynamic-table-row-icons i.fas.fa-trash {
  margin-top: 6px;         /* Adjust for visual centering */
  vertical-align: middle;  /* Optional: add if needed */
}

.actorExpertise input[type="text"],
.actorExpertise input[type="number"],
.actorExpertise select {
  height: 20px;
  line-height: 20px;
  box-sizing: border-box;
}

.actorLanguages input[type="text"],
.actorLanguages input[type="number"],
.actorLanguages select {
  height: 20px;
  line-height: 20px;
  box-sizing: border-box;
}

.actorExpertise input[type="text"],
.actorExpertise select {
  border: none;
  border-radius: 0px;	
  border-bottom: 1px solid #999;
  background: transparent;	
  outline: none;	
}

.actorLanguages input[type="text"],
.actorLanguages select {
  border: none;
  border-radius: 0px;	
  border-bottom: 1px solid #999;
  background: transparent;	
  outline: none;	
}
	
	
.panel-label {
  font-weight: bold;
  font-size: 1.1rem;
  color: #e0d4b8;
  text-align: left;
  padding: 2px 0 4px 0;
  margin-bottom: 4px;
  border-bottom: 1px solid #e0d4b8;
}

.custom-system-item-container-image {
	max-width: 20px;
	max-height: 20px;
}	

